/* © 2023 Peter Rodrick <pete@lftlc.xyz> */

@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --select-border: #888;
  --select-focus: rgb(61, 143, 237);
  --select-patient: rgb(23, 164, 63);
  --select-arrow: #000;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 0.4px;
}

html,
body {
  width: 100%;
  height: 100%;
}

@media (max-width: 599px) {
  header,
  main,
  footer {
    margin: 0 20px;
  }
  #page-title {
    margin: 40px 0;
  }
  #scene-info,
  #scene,
  #built-scene,
  #patients-container,
  .patient {
    flex-direction: column;
  }
  #scene {
    gap: unset;
  }
  .section-title,
  .section-info {
    padding: 0 0 10px 0;
  }
  .selector-title {
    padding: 0 20px 0 0;
    align-self: center;
  }
  .selector {
    flex-direction: row;
    padding: 10px 0;
  }
  .next-button {
    margin: 20px 0 0 0;
  }
  #scene-builder,
  #built-scene,
  .patient {
    padding: 20px 26px 26px;
  }
  #surf {
    padding-right: 0;
    padding-top: 10px;
  }
  #period {
    padding-right: 2px;
    padding-top: 0;
  }
  #direction {
    padding-right: 10px;
    padding-top: 0;
  }
  .scene-info {
    padding: 0;
  }
  .scene-desc {
    padding: 4px 0 0 0;
  }
  #scene-date-time,
  #scene-origin,
  #scene-location {
    flex-direction: row;
    width: auto;
    gap: 12px;
    padding: 0 0 10px 0;
  }
  #scene-location {
    padding-bottom: 0;
  }
  .patient {
    justify-content: space-between;
  }
  .patient-header {
    justify-content: space-between;
  }
  .sex {
    padding: 10px 0;
  }
  .nature {
    padding: 10px 0;
  }
}
@media (min-width: 600px) {
  #scene-info,
  #surf,
  #built-scene,
  #patients-container {
    flex-direction: column;
  }
  #scene {
    gap: unset;
    flex-direction: row;
  }
  .section-title,
  .section-info {
    padding: 10px 0;
  }
  .selector-title {
    padding: 0 20px 0 0;
    align-self: center;
  }
  .selector {
    flex-direction: row;
    padding: 10px 0;
  }
  .next-button {
    margin: 10px 0;
  }
  #scene-builder,
  #built-scene,
  .patient {
    padding: 20px 26px;
  }
  .sex {
    padding: 10px 20px 10px 0;
  }
  .nature {
    padding: 10px 0;
  }
}
@media (min-width: 1024px) {
  header,
  main,
  footer {
    margin: 0 40px;
  }
  #page-title {
    margin: 40px 0;
  }
  #scene-info,
  #scene,
  #built-scene,
  #patients-container {
    flex-direction: row;
  }
  #scene {
    gap: 10px;
  }
  .section-info {
    padding: 2px 0px 0px 40px;
    align-self: center;
  }
  .section-title {
    padding: 0 0 10px 0;
  }
  .selector-title {
    padding: 0 0 10px 0;
    align-self: unset;
  }
  .selector {
    flex-direction: column;
    padding: 10px 20px 0 0;
  }
  .next-button {
    margin: 25px 0 5px 0;
  }
  #scene-builder,
  #built-scene,
  .patient {
    padding: 20px 26px;
  }
  #direction {
    padding-right: 0;
    padding-top: 0;
  }
  #period,
  #direction {
    align-self: flex-end;
  }
  .scene {
    padding: 0 20px 0 10px;
  }
  .scene-info {
    padding: 0 0 5px 0;
  }
  .scene-desc {
    padding: 0;
  }
  #scene-date-time,
  #scene-origin,
  #scene-location {
    flex-direction: column;
    padding: 0 40px 0 0;
  }
  #scene-date-time {
    width: 208px;
  }
  #scene-origin {
    width: 178px;
  }
  .patient-header {
    justify-content: unset;
  }
  .sex {
    width: 140px;
    padding: 10px 30px;
  }
  .nature {
    width: 164px;
    padding: 10px 30px;
  }
}

body {
  background: #fff;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-shrink: 1;
  height: auto;
  width: auto;
}

main {
  flex-grow: 1;
}

footer {
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#scene-builder {
  background: radial-gradient(
        circle at 100% 100%,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0) 5px,
        transparent 5px
      )
      0% 0%/6px 6px no-repeat,
    radial-gradient(
        circle at 0 100%,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0) 5px,
        transparent 5px
      )
      100% 0%/6px 6px no-repeat,
    radial-gradient(
        circle at 100% 0,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0) 5px,
        transparent 5px
      )
      0% 100%/6px 6px no-repeat,
    radial-gradient(
        circle at 0 0,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0) 5px,
        transparent 5px
      )
      100% 100%/6px 6px no-repeat,
    linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 50% 50% /
      calc(100% - 2px) calc(100% - 12px) no-repeat,
    linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 50% 50% /
      calc(100% - 12px) calc(100% - 2px) no-repeat,
    radial-gradient(
        at 53% 3%,
        #ca2a42 0%,
        #3cd694 13.476%,
        #46b9d8 39.049%,
        #65c8e2 100%
      )
      59% 91%/199% 162%;
  border-radius: 6px;
  padding: 24px;
  box-sizing: border-box;
}

.fade-in {
  animation: 0.33s fadeIn;
  opacity: 1;
}

.hide {
  display: none !important;
}

.title-hide {
  color: #fff;
}

.info {
  font-size: 0.9em;
  margin: 40px 0;
}

#page-title {
  font-size: 2em;
}

#scene-info {
  display: flex;
  margin-bottom: 10px;
}

#scene {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#scene-builder {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

#built-scene {
  display: flex;
  background-color: #d4dbdd;
  color: #000;
  border-radius: 10px;
  margin-top: 10px;
}

.section-title {
  font-size: 1.8em;
  font-weight: 500;
}

.section-info {
  font-size: 1rem;
  font-weight: 400;
}

.selector-title {
  font-size: 1.2em;
}

.selector {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}

.select-button {
  display: grid;
  width: 100%;
  border: 1px solid #7a8a94;
  border-radius: 0.25em;
  padding: 0.25em 0.75em 0.25em 0.5em;
  font-size: 1rem;
  color: var(--select-arrow);
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

.changed-select-button {
  border: 1px solid #fb5064;
  box-shadow: 0px 0px 0px 2px #fb5064 inset;
}

select,
.select-button:after {
  grid-area: select;
}

.select-button::after {
  content: "";
  width: 0.7em;
  height: 0.4em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select {
  appearance: none;
  background-color: transparent;
  color: var(--select-arrow);
  border: none;
  padding: 0.25em 1em 0.25em 0.25em;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  letter-spacing: 0.4px;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.next-button {
  display: grid;
  width: fit-content;
  height: 40px;
  border: 0px solid #000;
  letter-spacing: 0.4px;
  border-radius: 0.25em;
  padding: 0.25em 0.75em;
  font-size: 1.2rem;
  cursor: pointer;
  line-height: 1.1;
  color: #fff;
  background: #000;
  /*
  background-image: linear-gradient(
    to top,
    rgb(79, 161, 254),
    rgb(94, 169, 255) 33%
  );
  */
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

#surf {
  display: flex;
}

.patient-title {
  display: flex;
  justify-content: center;
  background-color: #f2f4f4;
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 25px;
  margin-bottom: -20px;
}

.patient-sub-title {
  display: flex;
  justify-content: center;
  background-color: #f2f4f4;
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 20px;
  padding: 5px;
}

.patient {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #d4dbdd;
  color: #000;
  border-radius: 10px;
}

.patient-header {
  display: flex;
  flex-direction: row;
}

#scene-date-time,
#scene-origin,
#scene-location {
  display: flex;
}

.scene-info {
  display: flex;
  width: auto;
  font-size: 22px;
  font-weight: 700;
}

.scene-desc {
  display: flex;
  width: auto;
  font-size: 1rem;
  font-weight: 400;
}

.age {
  display: flex;
  background: #f2f4f4;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  padding: 10px;
  border-radius: 23px;
  width: auto;
  min-width: 46px;
  height: 46px;
  justify-content: center;
}

.sex {
  display: flex;
  font-size: 22px;
  font-weight: 700;
}

.nature {
  display: flex;
  font-size: 22px;
  font-weight: 700;
}

.assessment {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0;
  font-size: 1rem;
  font-weight: 400;
}
