/* © 2023 Peter Rodrick <pete@lftlc.xyz> */

@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --select-border: #888;
  --select-focus: rgb(61, 143, 237);
  --select-patient: rgb(23, 164, 63);
  --select-arrow: #000;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 0.6px;
}

html,
body {
  width: 100%;
  height: 100%;
}

@media (max-width: 599px) {
  header,
  main,
  footer {
    margin: 0 20px;
  }
  #page-title {
    margin: 40px 0;
  }
  #scene-info,
  #scene,
  #built-scene,
  #patients-container,
  .patient {
    flex-direction: column;
  }
  #scene {
    gap: unset;
  }
  .section-title,
  .section-info {
    padding: 0 0 10px 0;
  }
  .selector-title {
    padding: 0 20px 0 0;
    align-self: center;
  }
  .selector {
    flex-direction: row;
    padding: 10px 0;
  }
  .next-button {
    margin: 20px 0 0 0;
  }
  #scene-builder,
  #built-scene,
  .patient {
    padding: 20px 26px 26px;
  }
  #surf {
    padding-right: 0;
    padding-top: 10px;
  }
  #period {
    padding-right: 2px;
    padding-top: 0;
  }
  #direction {
    padding-right: 10px;
    padding-top: 0;
  }
  .scene-item {
    padding: 0 0 10px 0;
  }
  #built-scene span:last-of-type,
  .patient span:last-of-type {
    padding: 0;
  }
  .scene {
    padding: 0 60px 5px 0;
  }
  .patient {
    justify-content: space-between;
  }
  .sex {
    padding: 10px 20px 10px 0;
  }
  .nature {
    padding: 10px 0;
  }
}
@media (min-width: 600px) {
  #scene-info,
  #surf,
  #built-scene,
  #patients-container {
    flex-direction: column;
  }
  #scene {
    gap: unset;
    flex-direction: row;
  }
  .section-title,
  .section-info {
    padding: 10px 0;
  }
  .selector-title {
    padding: 0 20px 0 0;
    align-self: center;
  }
  .selector {
    flex-direction: row;
    padding: 10px 0;
  }
  .next-button {
    margin: 10px 0;
  }
  #scene-builder,
  #built-scene,
  .patient {
    padding: 20px 26px;
  }
  .scene-item {
    padding: 0 0 10px 0;
  }
  .sex {
    padding: 10px 20px 10px 0;
  }
  .nature {
    padding: 10px 0;
  }
}
@media (min-width: 1024px) {
  header,
  main,
  footer {
    margin: 0 40px;
  }
  #page-title {
    margin: 40px 0;
  }
  #scene-info,
  #scene,
  #built-scene,
  #patients-container {
    flex-direction: row;
  }
  #scene {
    gap: 10px;
  }
  .section-info {
    padding: 2px 0px 0px 40px;
    align-self: center;
  }
  .section-title {
    padding: 0 0 10px 0;
  }
  .selector-title {
    padding: 0 0 10px 0;
    align-self: unset;
  }
  .selector {
    flex-direction: column;
    padding: 10px 20px 0 0;
  }
  .next-button {
    margin: 25px 0 5px 0;
  }
  #scene-builder,
  #built-scene,
  .patient {
    padding: 20px 26px;
  }
  #direction {
    padding-right: 0;
    padding-top: 0;
  }
  #period,
  #direction {
    align-self: flex-end;
  }
  .scene-item {
    padding: 0 40px 0 0;
  }
  .scene {
    padding: 0 60px 0 10px;
  }
  .sex {
    width: 140px;
    padding: 10px 30px;
  }
  .nature {
    width: 164px;
    padding: 10px 30px;
  }
}

body {
  background: #fff;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-shrink: 1;
  height: auto;
  width: auto;
}

main {
  flex-grow: 1;
}

footer {
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: 0.33s fadeIn;
  opacity: 1;
}

.hide {
  display: none !important;
}

.title-hide {
  color: #fff;
}

.info {
  font-size: 0.9em;
  margin: 40px 0;
}

#page-title {
  font-size: 2em;
}

#scene-info {
  display: flex;
  margin-bottom: 10px;
}

#scene {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#scene-builder {
  background-color: #c4c4c4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#built-scene {
  display: flex;
  background-color: var(--select-focus);
  color: #fff;
  border-radius: 10px;
  margin-top: 10px;
}

.section-title {
  font-size: 1.8em;
  font-weight: 500;
}

.section-info {
  font-size: 1em;
}

.selector-title {
  font-size: 1.2em;
}

.selector {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}

.select-button {
  display: grid;
  width: 100%;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.75em 0.25em 0.5em;
  font-size: 1rem;
  color: var(--select-arrow);
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

.changed-select-button {
  border: 1px solid #000;
  box-shadow: 0px 0px 0px 2px #000 inset;
}

select,
.select-button:after {
  grid-area: select;
}

.select-button::after {
  content: "";
  width: 0.7em;
  height: 0.4em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select {
  appearance: none;
  background-color: transparent;
  color: var(--select-arrow);
  border: none;
  padding: 0.25em 1em 0.25em 0.25em;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.6px;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.next-button {
  display: grid;
  width: fit-content;
  height: 40px;
  border: 1px solid #000;
  letter-spacing: 0.6px;
  border-radius: 0.25em;
  padding: 0.25em 0.75em;
  font-size: 1.2rem;
  cursor: pointer;
  line-height: 1.1;
  color: #fff;
  background-color: #000;
  /*
  background-image: linear-gradient(
    to top,
    rgb(79, 161, 254),
    rgb(94, 169, 255) 33%
  );
  */
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

#surf {
  display: flex;
}

.patient {
  display: flex;
  flex-direction: row;
  background-color: var(--select-focus);
  color: #fff;
  border-radius: 10px;
  margin-top: 10px;
}

.scene {
  display: flex;
  width: auto;
  font-size: 22px;
  font-weight: 700;
}

.surf {
  display: flex;
  width: auto;
  padding: 5px 60px 0 10px;
  font-size: 1rem;
  font-weight: 300;
}

.age {
  display: flex;
  background: #fff;
  color: var(--select-focus);
  font-size: 22px;
  font-weight: 700;
  padding: 10px;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  justify-content: center;
}

.sex {
  display: flex;
  font-size: 22px;
  font-weight: 700;
}

.nature {
  display: flex;
  font-size: 22px;
  font-weight: 700;
}
